{% extends "banner_base.html" %}
{% load staticfiles %}
{% load webdesign %}

{% block head_title %}Welcome{% endblock %}

{% block body_class %}home{% endblock %}

{% block extra_style %}
	<link href="{% static 'recon/style.css' %}" rel="stylesheet">
{% endblock %}

{% block banner %}
    <h1>Welcome to Recon</h2>
    {% if user.is_authenticated %}
    	<h2>My topics:</h3>
    		<ul>
	        {% for topic in topic_list %}
	        	<li>
	        		<a href="/topic/{{topic.id}}/"> <h3>{{ topic.topic }}</h3></a>
	        	</li>
	        {% endfor %}
	        <li><a href="{% url 'new_topic' %}">Add Topic</a></li>
	    	</ul>    
	
	    <div id="content">
	        
	    </div>

    {% else %}
        
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to have access to the site.</p>
    {% endif %}
{% endblock %}

